.dashboard-cards {
  margin-right: -$gl-padding-8;
  margin-left: -$gl-padding-8;
}

.dashboard-card {
  @include gl-cursor-grab;

  &-header {
    &-warning {
      background-color: $orange-100;
    }
  }

  &-body {
    min-height: 120px;

    &-warning {
      background-color: $orange-50;
    }

    &-failed {
      background-color: $red-50;
    }
  }

  &-icon {
    color: $gray-500;
  }

  &-footer {
    border-radius: $gl-padding;
    height: $gl-padding-32;

    &-arrow {
      color: $gray-200;
    }

    &-downstream {
      margin-right: -$gl-padding-8;
    }

    &-extra {
      background-color: $gray-200;
      font-size: 10px;
      line-height: $gl-line-height;
      width: $gl-padding;
    }
  }

  &-header,
  &-footer {
    &-failed {
      background-color: $red-100;
    }
  }

  &-skeleton-info {
    border-radius: $gl-padding;
    height: $gl-padding;
    overflow: hidden;

    &::after {
      content: ' ';
      display: block;
      animation: blockTextShine 1s linear infinite forwards;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: linear-gradient(to right,
      $gray-50 0%,
      $gray-10 20%,
      $gray-50 40%,
      $gray-50 100%);
      border-radius: $gl-padding;
      height: $gl-padding;
      margin-top: -$gl-padding-8;
    }
  }
}
